*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-left: 5px;
}

.box1{
    height: 10vw;
    width: 10vw;
    background-color: blueviolet;
    border: 3px solid blue;
  
}

h1{
    color: orchid;
    font-size: large;
    font-weight: bold;
}